---
layout: default
show_in_header: true
permalink: /bilanci-relazioni
title: Bilanci e relazioni
index: 3
---

<div class="page">

    {% assign bilanci = site.bilanci | sort: 'anno' | reverse %}
    {% assign bilanci_len = bilanci | size %}
    {% if bilanci_len > 0 %}
    <div class="text-container">
      <ul class="balance-sheets">
        {% for bilancio in bilanci %}
        <li class="balance-sheet">
          <h4>Documentazione bilancio {{ bilancio.anno }}</h4>
          {% assign documenti = bilancio.documenti %}
          <ul>
            {% for documento in documenti %}
            <li class="metadata">
                <a href="{{ documento.url }}"><i class="bi bi-cloud-arrow-down-fill"></i> {{ documento.testo }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% else %}
    <section>
      <div class="text-container note">Nessuna documentazione attualmente disponibile.</div>
    </section>
    {% endif %}
  
  </div>
  