---
layout: default
show_in_header: true
permalink: /bilanci-relazioni
title: Bilanci e relazioni
index: 3
---

<div class="page">

    {% assign bilanci = site.bilanci | sort: 'anno' | reverse %}
    {% assign bilanci_len = bilanci | size %}
    {% if bilanci_len > 0 %}
    <div class="text-container">
      <ul class="balance-sheets">
        {% for balancio in bilanci %}
        <li class="balance-sheet">
          <p>Documentazione bilancio {{ balancio.anno }}</p>
          <p class="metadata">
              <a href="{{ balancio.download_link }}"><i class="bi bi-cloud-arrow-down-fill"></i> Scarica la documentazione</a>
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% else %}
    <section>
      <div class="text-container note">Nessuna documentazione attualmente disponibile.</div>
    </section>
    {% endif %}
  
  </div>
  