---
layout: default
show_in_header: true
title: "Eventi precedenti"
permalink: /archivio/eventi
index: 1
---

<div class="page">

  {% assign past_events = site.eventi | where: 'stato', 'completato' | sort: 'data_evento' | reverse %}
  <div class="text-container">
    <ul class="past-events">
      {% for event in past_events %}
      <li class="past-event">
        <p class="metadata">
          <a href="https://github.com/{{ site.github_org }}/{{ site.github_repository }}/tree/main/{{ event.path }}" target="_blank">
            <i class="bi bi-calendar2-event"></i>
          </a>&nbsp;
          <span>{% include translated_date.html date=event.data_evento format="%-d %B %Y" %}</span>
          {% if event.relatori %}
          <span>- {{ event.relatori }}</span>
          {% endif %}
        </p>
        <p>{{ event.titolo }}</p>
        {% if event.registrazione %}
          <p class="metadata">
            {% if event.registrazione == "" %}
            <i class="bi bi-hourglass-split"></i> Registrazione in fase di elaborazione
            {% else %}
            <a href="{{ event.registrazione }}" target="_blank"><i class="bi bi-youtube"></i> Visualizza la registrazione: {{ event.registrazione }}</a>
            {% endif %}
          </p>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>

</div>
