---
layout: default
---
<div>

  <section class="hero">
    <div class="text-container associazione-block">
        <h1 class="title">Associazione <strong>RISORSE</strong></h1>
        <p class="subtitle">Associazione culturale per capire meglio l'economia</p>
    </div>  
  </section>

  {% assign upcomingevents = site.eventi | where: 'stato', 'futuro' | sort: 'data_evento' %}
  {% assign len = upcomingevents | size %}

  {% if len > 0 %}
  <section class="hero main-event">
    {% assign first_upcoming_event = upcomingevents[0] %}
    <div class="text-container">

      {% include event_image.html image_url=first_upcoming_event.url_immagine imageAlt=first_upcoming_event.titolo %}
      <div>
        <h3>
          <a href="{{ first_upcoming_event.url | prepend: site.baseurl }}" class="muted-link">{{ first_upcoming_event.titolo }}</a>
        </h3>
        <p class="metadata">
          <span>{% include translated_date.html date=first_upcoming_event.data_evento format="%-d %B, %Y" %}</span>
          {% if first_upcoming_event.ora_evento %}
          <span>, {{ first_upcoming_event.ora_evento }}</span>
          {% endif %}
        </p>
        <p class="metadata">{{ first_upcoming_event.luogo }}</p>
        {% if first_upcoming_event.abstract %}
        <p>{{ first_upcoming_event.abstract }}</p>
        {% endif %}
        <!-- {% if first_upcoming_event.ciclo %}
          <p class="conference-meta ciclo">Ciclo:&nbsp;
          {% assign matching_cicli = site.cicli | where: 'ciclo',first_upcoming_event.ciclo %}
          {% assign current_ciclo = matching_cicli[0] %}
            <a href="{{ current_ciclo.url | prepend: site.baseurl }}"><nobr>{{ current_ciclo.titolo }}</nobr></a>
          </p>
        {% endif %} -->
      </div>
    </div>
  </section>
  {% endif %}

  <section class="purpose">
		<div class="container flex">
			<div class="purpose-block">
				<blockquote>
					<p class="description">L'associazione RISORSE ha lo scopo di diffondere e valorizzare la conoscenza, la riflessione e lo studio della cultura economica, anche ponendosi in relazione confronto con altre tipologie del sapere, nonché con i molteplici aspetti dell'essere umano e delle sue storiche espressioni, con particolare riferimento alla realtà locale.</p>
				</blockquote>
			</div>
		</div>
	</section>

  {% if len > 1 %}
  <section class="events">

    {% for upcoming_event in upcomingevents offset: 1 %}
    {% assign mod = forloop.index | modulo: 2 %}
    <div class="row container event">
      {% if mod == 0 %}
      <div class="col-md-6">
        {% include event_details.html event=upcoming_event %}
      </div>
      <div class="col-md-6">
        {% include event_image.html image_url=upcoming_event.url_immagine imageAlt=upcoming_event.titolo %}
      </div>
      {% else %}
      <div class="col-md-6">
        {% include event_image.html image_url=upcoming_event.url_immagine imageAlt=upcoming_event.titolo %}
      </div>
      <div class="col-md-6">
        {% include event_details.html event=upcoming_event %}
      </div>
      {% endif %}
    </div>
    {% endfor %}

  </section>
  {% endif %}

  <section class="quote">
		<div class="container flex">
			<div class="quote-block">
        {% assign citazione = site.citazioni[0] %}
        {% if citazione.immagine %}
        <div class="square-image">
          <img src="{{ citazione.immagine }}"
               alt="{{ citazione.autore }}">
        </div>
        {% endif %}
				<blockquote>
          <p class="text">{{ citazione.testo }}</p>
          <p class="author">—{{ citazione.autore }}</p>
				</blockquote>
			</div>
		</div>
	</section>

 </div>