---
layout: default
title: "Associazione RISORSE"
---
<div>

  {% assign upcoming_events = site.eventi | where: 'stato', 'futuro' | sort: 'data_evento' %}
  {% assign upcoming_events_len = upcoming_events | size %}
  {% assign recent_events = site.eventi | where: 'stato', 'completato' | sort: 'data_evento' | reverse %}
  {% assign recent_events_len = recent_events | size %}
  {% assign recent_events_limit = 6 %}
  {% if upcoming_events_len <= 1 0 %}
  {% assign recent_events_limit = 12 %}
  {% endif %}

  <section class="hero">
    <div class="text-container associazione-block">
        <h1 class="title">Associazione <strong>RISORSE</strong></h1>
        <p class="subtitle">ODV - ETS</p>
    </div>
    <div class="text-container purpose-block">
      <blockquote>
        <p class="description">L'associazione RISORSE ha lo scopo di diffondere e valorizzare la conoscenza, la riflessione e lo studio della cultura economica, anche ponendosi in relazione confronto con altre tipologie del sapere, nonché con i molteplici aspetti dell'essere umano e delle sue storiche espressioni, con particolare riferimento alla realtà locale.</p>
      </blockquote>
		</div>
  </section>

  {% if upcoming_events_len > 0 %}
  <section class="hero main-event">
    {% assign first_upcoming_event = upcoming_events[0] %}
    <div class="text-container">

      {% include event_image.html 
                 image_url=first_upcoming_event.url_immagine
                 image_alt=first_upcoming_event.titolo
      %}
      <div>
        <h3>
          <a href="{{ first_upcoming_event.url | prepend: site.baseurl }}" class="muted-link">{{ first_upcoming_event.titolo }}</a>
        </h3>
        {% include event_speakers.html speakers=first_upcoming_event.relatori %}
        {% include event_date_time.html
                   date=first_upcoming_event.data_evento
                   time=first_upcoming_event.ora_evento %}
        {% include event_location.html event=first_upcoming_event %}
        {% if first_upcoming_event.abstract %}
        <p>{{ first_upcoming_event.abstract }}</p>
        {% endif %}
      </div>
    </div>
  </section>
  {% endif %}

  <section class="recent-events">
    <div class="container flex">
      <div class="recent-events-block">
        <h5>Eventi recenti</h5>
          {% for recent_event in recent_events limit:recent_events_limit %}
          {% assign mod = forloop.index | modulo: 2 %}
          {% if mod != 0 %}
          <div class="row recent-events-row">
          {% endif %}
            <div class="col-md-6 recent-event">
              <a href="{{ recent_event.url | prepend: site.baseurl }}" title="{{ recent_event.titolo }}">
                <p class="metadata">
                  <span>{% include translated_date.html date=recent_event.data_evento format="%-d %B, %Y" %}</span>
                  {% if recent_event.relatori %}
                  <span>- {{ recent_event.relatori }}</span>
                  {% endif %}
                </p>
                <p>{{ recent_event.titolo }}</p>
              </a>
            </div>
          {% if mod == 0 %}
          </div>
          {% endif %}
          {% endfor %}
          <div class="row all-past-events">
            <a href="{{ "/eventi/archivio" | prepend: site.baseurl }}">Ci sono un totale di {{ recent_events_len }} eventi precedenti, visualizzali tutti...</a>
          </div>
      </div>
    </div>
  </section>

  {% if upcoming_events_len > 1 %}
  <section class="events">
    <div class="text-container">
      <h3>Prossimamente...</h3>
    </div>
    <div class="container">
    {% for upcoming_event in upcoming_events offset: 1 %}
    {% assign mod = forloop.index | modulo: 2 %}
    <div class="row event">
      {% if mod == 0 %}
      <div class="col-md-6">
        {% include event_details.html event=upcoming_event %}
      </div>
      <div class="col-md-6">
        {% include event_image.html image_url=upcoming_event.url_immagine image_alt=upcoming_event.titolo %}
      </div>
      {% else %}
      <div class="col-md-6">
        {% include event_image.html image_url=upcoming_event.url_immagine image_alt=upcoming_event.titolo %}
      </div>
      <div class="col-md-6">
        {% include event_details.html event=upcoming_event %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  </section>
  {% endif %}

  <section class="quote">
		<div class="container flex">
			<div class="quote-block">
        {% assign citazione = site.citazioni | sample %}
        {% if citazione.immagine %}
        <div class="square-image">
          <img src="{{ citazione.immagine }}"
               alt="{{ citazione.autore }}">
        </div>
        {% endif %}
				<blockquote>
          <p class="text">{{ citazione.testo }}</p>
          <p class="author">—{{ citazione.autore }}</p>
				</blockquote>
			</div>
		</div>
	</section>

 </div>