{% include event_date_time.html date=include.event.data_evento time=include.event.ora_evento %}
<h4>
    <a href="{{ include.event.url | prepend: site.baseurl }}" class="muted-link">{{ include.event.titolo }}</a>
</h4>
{% include event_location.html event=include.event %}
{% if include.event.abstract %}
<p>{{ include.event.abstract }}</p>
{% endif %}
<!-- {% if include.event.ciclo %}
<p>Ciclo:&nbsp;
    {% assign matching_cicli = site.cicli | where: 'ciclo',include.event.ciclo %}
    {% assign current_ciclo = matching_cicli[0] %}
    <a href="{{ current_ciclo.url | prepend: site.baseurl }}"><nobr>{{ current_ciclo.titolo }}</nobr></a>
</p>
{% endif %} -->