<p class="metadata">
    <span>{% include translated_date.html date=include.event.data_evento format="%-d %B, %Y" %}</span>
    {% if include.event.ora_evento %}
    <span>, {{ include.event.ora_evento }}</span>
    {% endif %}
</p>
<h4>
    <a href="{{ include.event.url | prepend: site.baseurl }}" class="muted-link">{{ include.event.titolo }}</a>
</h4>
<p class="metadata">{{ include.event.luogo }}</p>
{% if include.event.abstract %}
<p>{{ include.event.abstract }}</p>
{% endif %}
<!-- {% if include.event.ciclo %}
<p>Ciclo:&nbsp;
    {% assign matching_cicli = site.cicli | where: 'ciclo',include.event.ciclo %}
    {% assign current_ciclo = matching_cicli[0] %}
    <a href="{{ current_ciclo.url | prepend: site.baseurl }}"><nobr>{{ current_ciclo.titolo }}</nobr></a>
</p>
{% endif %} -->