<p class="metadata">
    {% if include.event.luogo %}
    {{ include.event.luogo }}
    {% endif %}
    {% if include.event.evento_online and include.event.luogo %}
    <br />
    {% endif %}
    {% if include.event.evento_online %}
    L'evento è online: 
        {% if include.event.link_evento_online %}
        <a href="{{ include.event.link_evento_online }}" target="_blank">collegati alla conferenza.</a> 
        {% else %}
        Il link per la connessione verrà fornito a breve.
        {% endif %}
    {% endif %}
</p>
