<div class="crop-container">
    {% if include.image_url %}
    <img src="{{ include.image_url | prepend: site.baseurl }}" 
        class="event-image"
        alt="Immagine dell'evento {{ include.image_alt }}">
    {% else %}
    {% assign default_image_indexes = "0|1|2|3" | split: "|" %}
    {% assign default_image_index = default_image_indexes | sample %}
    {% assign default_image = "/img/events/default-header-" 
                            | append: default_image_index 
                            | append: ".jpg" %}
    <img src="{{ default_image | prepend: site.baseurl }}"
        class="event-image"
        alt="Immagine dell'evento {{ include.image_alt }}">
    {% endif %}
</div>