<p class="metadata">
    {% if include.event.luogo %}
    {{ include.event.luogo }}
    {% endif %}
    {% if include.event.is_conference_call and include.event.luogo %}
    <br />
    {% endif %}
    {% if include.event.is_conference_call %}
    L'evento è online: 
        {% if include.event.conference_call_link %}
        <a href="{{ include.event.conference_call_link }}" target="_blank">collegati alla conferenza.</a> 
        {% else %}
        Il link per la connessione verrà fornito a breve.
        {% endif %}
    {% endif %}
</p>
