{% include event_date_time.html date=include.event.data_evento time=include.event.ora_evento %}
<h4>
    {{ include.event.titolo }}
</h4>
{% include event_speakers.html speakers=include.event.relatori %}
{% include event_location.html event=include.event %}
{% if include.event.abstract %}
<p>{{ include.event.abstract }}</p>
{% endif %}
{% if include.event.link %}
<p class="metadata">
    <a href="{{ include.event.link.url }}"
        title="{{ include.event.link.testo }}"
        target="_blank">{{ include.event.link.testo }}</a>
</p>
{% endif %}