<footer class="site-footer">

  <div class="container-fluid">

    <h3 class="footer-heading">{{ site.title }}</h3>
    <p class="text">{{ site.description }}</p>
    <hr/>
    
    <div class="row">
      <div class="col-md-6">
        some content 
      </div>
      <div class="col-md-6">
        some other content
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

</footer>
