<header class="header">

  <div class="container">
    <div class="logo">
      <a href="/">
        <img src="{{ "/img/logo.png" | prepend: site.baseurl }}" alt="Risorse logo" height="35px" width="35px" alt="logo" />
      </a>
    </div>
    <ul class="nav justify-content-end">
    {% assign header_pages = site.pages | where: 'show_in_header', 'true' | sort: 'index' %}
    {% for page in header_pages  %}
      {% if page.title %}
      <li class="nav-item">
         <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

</header>
