<section class="quote {% if include.use_inverted_colors %}quote-inverted{% endif %}">
    <div class="container flex">
        <div class="quote-block">
    {% assign citazione = site.citazioni | sample %}
    {% if citazione.immagine %}
    <div class="square-image">
      <img src="{{ citazione.immagine }}"
           alt="{{ citazione.autore }}">
    </div>
    {% endif %}
            <blockquote>
      <p class="text">{{ citazione.testo }}</p>
      <p class="author">—&nbsp;{{ citazione.autore }}</p>
      {% if citazione.fonte %}
      <p class="source">{{ citazione.fonte }}</p>
      {% endif %}
            </blockquote>
        </div>
    </div>
</section>