/**
 * Basic styling
 */
 body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    padding: 0;
    margin: 0;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

.nav{
    .nav-item{
        .nav-link{
            margin: 0 3px;
            padding: 20px 10px;
            color: rgba(255, 255, 255, 0.8);
            border-bottom: 1px solid rgba(255, 255, 255, 0);
        }

        .nav-link:hover{
            border-bottom: 1px solid rgba(255, 255, 255, 255);  
        }
    }
}

p {
    color: #666;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.4em;
}

h1.title {
    font-weight: 300;
    font-size: 2.3em;
    margin: 0;
}

p.subtitle{
    margin-top: 10px;
    text-align: center;
}

.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.link-icon{
    height: 10px;
}

hr.h-splitter{
    margin-top: 10px;
    margin-bottom: 10px;
}

a.muted-link{
    
    text-decoration: none;
    color: $text-color;
    
    &:hover{
        text-decoration: underline;
    }
}