section{
    padding: 50px 0px 50px 0px;
}

.container, .text-container {
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

.container {
    position: relative;
    max-width: 950px;
}

.text-container {
    max-width: 750px;
}

.header {
    color: #fff;
    padding: 20px 0;
    background: #4182e4;
    background: linear-gradient(to bottom, #4182e4 0%, #4182e4 100%) no-repeat #4182e4;
}

.hero {
    color: #ffffff;
    text-align: center;
    background: linear-gradient(to bottom, #4182e4 0%, #4182e4 100%) no-repeat #a05fb7;

    p{
        color: #ffffff;
    }
}

.quote {
    background: #f5f5f5;
    margin: 0;

    .quote-block {
        max-width: 750px;
        width: 98%;
        margin: 0 auto;
    }

    blockquote {
        padding: 18px 25px;
        margin: 0;
        quotes: "“" "”" "‘" "’";
        font-style: italic;

        .author {
            display: block;
            font-weight: bold;
            margin: 10px 0 0 0;
            font-size: $small-font-size;
            font-style: normal;
        }

        .source{
            font-size: $small-font-size;
            font-style: normal;
        }
    }

    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    p{
        display: inline;
    }
}

@media (min-width: 450px){
    .quote{
        .quote-block {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
        }
    }

    blockquote {
        -webkit-flex: 1;
        flex: 1;
    }
}

.square-image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0px auto 0 auto;
    position: relative;
    border-radius: 200px;

    img {
        position: absolute;
        left: -1000%;
        right: -1000%;
        top: -1000%;
        bottom: -1000%;
        margin: auto;
        width: 150px;
    }
}

section{
    .event{
        padding-top: 50px;
    }
}

.event-image{
    width: 100%;
}

p.metadata{
    font-size: $small-font-size;
}

.recent-events{
    background-color: #f5f5f5;

    a{
        text-decoration: none;
        color: #666;
    }

    .recent-events-block{

        h5{
            text-align: center;
            color: #666;
            padding-bottom: 10px;
            border-bottom: #666 1px solid;
            margin-bottom: 15px;
        }
    
        .recent-event{
            font-weight: 300;
            margin-bottom: 15px;

            p{
                margin-bottom: 0px;
            }

            p.metadata{
                font-style: italic;
                margin-bottom: 0px;
            }
        }

        .all-past-events{
            text-align: right;
            font-style: italic;
        }
    }
}

.past-events{
    a{
        text-decoration: none;
        color: #000;
    }

    .past-event{
        font-weight: 300;
        margin-bottom: 15px;

        p{
            margin-bottom: 0px;
        }

        p.metadata{
            font-style: italic;
            margin-bottom: 0px;
        }
    }
}

.events{
    padding-top: 50px;

    h3{
        text-align: center;
    }

    .container{
        border-top: rgb(191, 191, 191) 1px solid;
    }
}

.main-event{
    h3{
        margin-top: 25px;
    }
}

.page{
    margin-top: 20px;
}

footer {
    p{
        color: rgb(191, 191, 191);
    }
    padding: 50px 0 50px 0;
    position: relative;
    background: #2b2b40;
}

.note {
    text-align: center;
    font-style: italic;
}

.balance-sheets{
    a{
        text-decoration: none;
        color: #000;
    }

    .balance-sheet{
        font-weight: 300;
        margin-bottom: 15px;

        p{
            margin-bottom: 0px;
        }

        p.metadata{
            font-style: italic;
            margin-bottom: 0px;
        }
    }
}