---
layout: default
---
<div class="page">

  <article class="page-content">
    {{ content }}
  </article>

  {% assign past_events = site.conferenze | where: 'stato', 'completato' | sort: 'calendario.inizio' | reverse %}
  <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for event in past_events %}

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ event.titolo }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ event.luogo }}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{% include translated_date.html date=event.calendario.inizio format="%-d %B, %Y" %}</h6>
          <p class="card-text">{{ event.abstract }}</p>
          {% if event.ciclo %}
            <p class="conference-meta ciclo">Ciclo:&nbsp;
            {% assign matching_cicli = site.cicli | where: 'ciclo',event.ciclo %}
            {% assign current_ciclo = matching_cicli[0] %}
              <a href="{{ current_ciclo.url | prepend: site.baseurl }}"><nobr>{{ current_ciclo.titolo }}</nobr></a>
            </p>
          {% endif %}
          <a href="#" class="card-link">Dettagli...</a>
        </div>
      </div>
    </div>

      {% endfor %}
  </div>