---
layout: default
---
<div class="page home-page">

  <article class="page-content">
    {{ content }}
  </article>

  <div class="bd-callout bd-callout-info citation">
    {% assign citazione = site.citazioni[0] %}
    <div class="citation-text">{{ citazione.testo }}</div>
    <div class="citation-author">—{{ citazione.autore }}</div>
  </div>

  <div class="events">
    <h2>Conferenze</h2>
    <h3>Il prossimo evento</h3>

  {% assign upcomingevents = site.conferenze | where: 'stato', 'futuro' | sort: 'calendario.inizio' %}
  {% assign len = upcomingevents | size %}
  {% if len > 0 %}
    {% assign first_upcoming_event = upcomingevents[0] %}
  
  <div class="card">
    {% if first_upcoming_event.url_immagine %}
    <img src="{{ first_upcoming_event.url_immagine | prepend: site.baseurl }}" class="card-img-top" alt="Immagine dell'evento {{ first_upcoming_event.titolo }}">
    {% else %}
    <img src="{{ "/img/events/default-header.jpg" | prepend: site.baseurl }}" class="card-img-top" alt="Immagine dell'evento {{ first_upcoming_event.titolo }}">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ first_upcoming_event.titolo }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ first_upcoming_event.luogo }}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{% include translated_date.html date=first_upcoming_event.calendario.inizio format="%-d %B, %Y" %}</h6>
      <p class="card-text">{{ first_upcoming_event.abstract }}</p>
      <a href="#" class="card-link">Dettagli...</a>
    </div>
  </div>

    {% if len > 1 %}
    <h3>Altri eventi</h3>
  <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for upcoming_event in upcomingevents limit: 4 offset: 1 %}

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ upcoming_event.titolo }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ upcoming_event.luogo }}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{% include translated_date.html date=upcoming_event.calendario.inizio format="%-d %B, %Y" %}</h6>
          <p class="card-text">{{ upcoming_event.abstract }}</p>
          <a href="#" class="card-link">Dettagli...</a>
        </div>
      </div>
    </div>

      {% endfor %}
  </div>
    {% endif %}
  {% endif %}

  </div>