---
layout: default
---
<div class="page">

  <article class="page-content">
    {{ content }}
  </article>

  {% assign past_events = site.eventi | where: 'stato', 'completato' | sort: 'data_evento' | reverse %}
  <div>
    <ul>
      {% for event in past_events %}
      <li>
        <span>{% include translated_date.html date=event.data_evento format="%-d %B, %Y" %}</span> - 
        <a href="{{ event.url | prepend: site.baseurl }}">{{ event.titolo }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  
  <div>Visualizza tutti i <a href="{{ '/cicli' | prepend: site.baseurl }}">cicli</a>.</div>

</div>
